<div id="<%= dom_id health_record %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= health_record.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Recorded on:</strong>
    <%= health_record.recorded_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Condition:</strong>
    <%= health_record.condition %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sleep time:</strong>
    <%= health_record.sleep_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Breakfast memo:</strong>
    <%= health_record.breakfast_memo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lunch memo:</strong>
    <%= health_record.lunch_memo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dinner memo:</strong>
    <%= health_record.dinner_memo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ai advice:</strong>
    <%= health_record.ai_advice %>
  </div>
</div>
